<div class="col-md-12 " id="clase">

    <div class="row  align-items-center">

        <div class="col-md-7 ">
            <div>
                <div class="contenedor " *ngFor="let comercio of comercios; let i=index ">

                    <div class="row align-items-center ">
                        <div class="col-lg-12 col-md-12 col-sm-4 card ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                                <img [src]="comercio.img " class="card-img-top img-thumbnail " [alt]="comercio.nombre ">
                            </div>
                            <h5 class="card-title "> {{comercio.nombre}}
                                <p>-{{comercio.aparicion}}-</p>
                            </h5>

                            <p class="card-text ">{{comercio.resumen}}</p>
                            <nav class="nav card-header ">
                                <div class="row ">
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">
                                        <a href='{{comercio.facebook}}' class="thumbnail ">
                                            <img src="../../../assets/logos/facebook.png " alt="... ">
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">

                                        <img src="../../../assets/logos/love.png " alt="... " (click)="addLike(comercio.id) ">

                                    </div>

                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 " style="font-weight:20px ">

                                        {{comercio.likes}}
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">
                                        <a href="# " class="thumbnail ">
                                            <img src="../../../assets/logos/mail.png " alt="... ">
                                        </a>
                                    </div>

                                    <div class=" col-lg-6 col-md-3 col-sm-6 col-xs-12 "> <button style="width:100%; " (click)="verComercio(comercio.id) " type="button " class="btn btn-outline-dark "> ver más...</button> </div>


                                </div>

                            </nav>



                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>




    <!--<div class="contenedor ">
    <img src="../../../assets/img/sanGines/SanGines.jpg " id="imagendinamica " />
    <h2> <a href="https://google.es " id="parrafo ">ver mas...</a></h2>
</div>
<div class="col-md-6 col-lg-12 " style="border:1px solid red;height:50px;padding-top:500px; ">


</div>-->