<div class="col-md-12 contenedor ">
    <ul class="  ">
        <li>
            <button (click)="verActividad( 'restaurante') " type="button " class="btn btn-outline-dark "> Restaurantes</button>

        </li>
        <li>
            <button (click)="verActividad( 'farmacia') " type="button " class="btn btn-outline-dark "> Farmacias</button>

        </li>
        <li>
            <button (click)="verActividad( 'hotel') " type="button " class="btn btn-outline-dark "> Hoteles</button>

        </li>
        <li>
            <button (click)="verActividad( 'libreria') " type="button " class="btn btn-outline-dark "> Librerias</button>

        </li>
        <li>
            <button (click)="verActividad( 'otros') " type="button " class="btn btn-outline-dark "> otros</button>

        </li>

    </ul>

</div>